@import "tailwindcss";

@theme {
  --color-primary: #c8f04a;
  --color-violetSecondary: #a599ff;
  --color-amberThirdly: #ffa064;
}
html {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes driftX {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
}
